h1{
  color:blue;
}
h2{
  color: blue;
  text-align: center;
}
.topiccolumn{
  ;
}
.myheader{
  background-color: rgb(58, 237, 204);
}
#pagedivider{
  border-top: 2px solid black;
  margin-top: 2%;
}
#mypage{
  height: 100%;
}
#topicdivider{
  margin-top: 2%;
}
#contentdivider{
  margin-top: 2%;
  border-right: 2px solid grey;
  border-left: 2px solid grey;
  padding-left: 3%;
  padding-right: 2%;
}
#topiclist:hover{
text-decoration: underline;
cursor: pointer;
}
#likepagedivider{
  margin-top: 2%;
}
.operators{
display:;
}
p{
  font-size: 20px;
  font-weight: lighter;
}
.comments{
  display:;
}
b{
  display: block;
  font-size: 15px;
}
.variables{
  display:;
}
#rate1{
  background-color: black;
}
#rating-box{
  height: 80px;
  width: 150px;
  margin-left: 15%;
  border: 2px solid grey;
}
#myfooter{
  clear: both;
  background-color:rgb(40, 122, 143);
  height:80px;
  text-align: center;
  padding-top: 30px;
  margin-top: 30px;
  color: white;
}
