h1{
  color:blue;
}
h2{
  color: blue;
  text-align: center;
}
.topiccolumn{
  ;
}
.myheader{
  background-color: rgb(58, 237, 204);
}
#pagedivider{
  border-top: 2px solid black;
  margin-top: 2%;
}
#mypage{
  height: 100%;
}
#topicdivider{
  margin-top: 2%;
  border-right: 2px solid grey;
}
#contentdivider{
  margin-top: 2%;
  border-right: 2px solid grey;
}
#topiclist:hover{
text-decoration: underline;
cursor: pointer;
}
#likepagedivider{
  margin-top: 2%;
}
.operators{
display: none;
}
p{
  font-size: 20px;
  font-weight: lighter;
}
.comments{
  display: none;
}
